
<div class="container mb-5 mt-5">
  <h2>grid-days</h2>
  <p>
    The same way as <code>showToday</code> can be set on the <code>chart</code> component, you can pass <code>dayClasses</code>.
    <br>This should be an array with objects, each having a date, class and title (optional) attribute.
  </p>
</div>

<div class="container-fluid">

  {{#gantt-chart
    dayWidth=dayWidth
    stickyOffset=56
    dayClasses=specialDays
    as |chart|
  }}
    {{#chart.header}}
      <b>Project / Job</b><br>
      <a href="" {{action 'zoom' 5}}>Zoom in</a> | <a href="" {{action 'zoom' -5}}>Zoom out</a>
    {{/chart.header}}

    {{#each model.projects as |project|}}

      {{! line for each project }}
      {{#chart.line title=project.title dateStart=project.minStartDate dateEnd=project.maxEndDate as |line|}}

        {{! inline childs - show child-segments inline in the bar (childs need {dateStart, dateEnd, color})}}
        {{line.inlineChilds childLines=project.jobs }}

        {{! child lines}}
        {{#each project.jobs as |job|}}
          {{#line.childLine title=job.title dateStart=job.dateStart dateEnd=job.dateEnd isEditable=true
                            color=job.color as |childLine|}}

            {{! add something to the bar content}}
            {{#childLine.barContent}}{{job.title}}{{/childLine.barContent}}

          {{/line.childLine}}
        {{/each}}

      {{/chart.line}}
    {{/each}}

  {{/gantt-chart}}

</div>

<div class="container">
  <h3>code:</h3>

  <div class="code-label">template</div>
  {{code-snippet name="5-example-griddays.hbs"}}

  <div class="code-label">controller</div>
  {{code-snippet name="5-example-griddays.js"}}

  <div class="code-label">styles</div>
  {{code-snippet name="5-example-griddays.css"}}

</div>