
<div class="container mb-5 mt-5">
  <h2>infinity scrolling</h2>
  <p>It's possible to automatically expand the initial view when scrolling to the most left/right. The callback function <code>onViewDateChange</code> can then be used to load new data for this new period (see example code below).</p>
</div>


<div class="container-fluid">
  {{#gantt-chart dayWidth=dayWidth stickyOffset=56 infinityScroll=true viewDate=goDate
                  onViewDateChange=(action 'viewDateChange') as |chart|}}

    {{#chart.header}}
      <b>Project/Job</b>
      <br><a href="" {{action 'goToDate'}}>focus today</a>
    {{/chart.header}}

    {{#each model.projects as |project|}}

      {{! line for each project }}
      {{#chart.line dateStart=project.minStartDate dateEnd=project.maxEndDate as |line|}}

        {{! collapse childs }}
        {{#line.title}}
          <span><a href="" {{action 'collapse' project}}>{{project.title}}</a></span>
        {{/line.title}}

        {{! inline childs - show child-segments inline in the bar (childs need {dateStart, dateEnd, color})}}
        {{line.inlineChilds childLines=project.jobs }}

        {{! child line for each job in project }}
        {{#bs-collapse collapsed=project.collapsed}}
          {{#unless project.collapsed}}
            {{#each project.jobs as |job|}}

              {{! child lines}}
              {{#line.childLine dateStart=job.dateStart dateEnd=job.dateEnd isEditable=true
                                color=job.color as |childLine|}}

                {{! more complex title inner}}
                {{#childLine.title}}
                  <span {{action 'goToDate' job.dateStart}} style="cursor:pointer">
                    <svg width="12px" height="12px"><circle fill={{job.color}} cx="5" cy="6" r="5" width="9" height="9"></circle></svg>
                    {{job.title}}
                  </span>
                {{/childLine.title}}

                {{! add something to the bar content}}
                {{#childLine.barContent}}{{job.title}}{{/childLine.barContent}}

              {{/line.childLine}}
            {{/each}}
          {{/unless}}
        {{/bs-collapse}}

      {{/chart.line}}

    {{/each}}

  {{/gantt-chart}}
</div>


<div class="container">
  <h3>code:</h3>

  <div class="code-label">template</div>
  {{code-snippet name="2-example-infinity.hbs"}}

  <div class="code-label">controller</div>
  {{code-snippet name="2-example-infinity.js"}}
</div>
