

<div class="gantt-line">
  <div class="gantt-line-title"><span>{{title}}</span></div>
  <div class="gantt-line-timeline">
    
    {{! bar }}
    <div class="gantt-line-bar {{if isEditable 'gantt-line-bar-editable'}}" style={{barStyle}} title={{barTitle}}>
      {{#if isEditable}}
        <div class="bar-resize-l"></div>
        <div class="bar-resize-r"></div>
      {{/if}}
    </div>

    {{! months }}
    {{!--#each chart.timelineMonths as |month|}}
      <div class="gantt-timeline-month">
        {{#each month.days as |day|}}
          <div class="gantt-timeline-day {{if day.isWeekend 'gantt-timeline-day-weekend'}}"></div>
        {{/each}}
      </div>
    {{/each--}}

  </div>
</div>




<div class="gant-line-childs">
	
  {{! child lines }}
	{{yield
	  (hash
	    child-line=(component "gantt-line" chart=chart  parentLine=this)
	  )
	}}

</div>


