
<style>
  .gantt-line-milestone,
  .gantt-timeline .gantt-timeline-days .day {
    width: {{dayWidthPx}};
  }
  .gantt-timeline .gantt-timeline-cws .cw {
    width: {{cwWidthPx}};
  }
</style>

<div class="gantt-timeline-grid">

  {{! vertical grid}}
  <div class="gantt-timeline-vertical-grid">

    {{#if timelineMonth}}
      <div class="gantt-timeline-days">
        {{#each timelineScale.months as |month|}}
          {{#each month.days as |day|}}
            <div class="day {{if day.isWeekend 'day-weekend'}} {{if day.class day.class}}">{{#if day.title}}<em>{{day.title}}</em>{{/if}} </div>
          {{/each}}
        {{/each}}
      </div>

    {{else}}
      <div class="gantt-timeline-years" >
        {{#each timelineScale.years as |year|}}
          <div class="gantt-timeline-year" style={{year.width}}> </div>
        {{/each}}
      </div>
    {{/if}}

  </div>

</div> {{! chart-grid end}}


{{! header }}
<div
  class="gantt-chart-header {{if isSticky 'gantt-chart-header-sticky'}}"
  style={{stickyPlaceholderStyle}}
>
  {{! used for sticky handling }}
  <div class="gantt-chart-header-inner" style={{stickyStyle}}>

    <div class="gantt-header-title">
      {{yield (hash header=(component "gantt-generic-content")) }}
    </div>

    {{! header timeline }}
    <div class="gantt-timeline-scale" style={{scaleStyle}}>


      {{! years }}
      {{#if timelineYear}}
        <div class="gantt-timeline-years" >
          {{#each timelineScale.years as |year|}}
            <div class="gantt-timeline-year" style={{year.width}}><span>{{year.nr}}</span></div>
          {{/each}}
        </div>
      {{/if}}

      {{! months }}
      {{#if timelineMonth}}
        <div class="gantt-timeline-months" >
          {{#each timelineScale.months as |month|}}
            <div class="gantt-timeline-month" style={{month.style}}>

              {{! month }}
              <div class="gantt-timeline-month-name">
                <span>
                  {{#if timelineMonthShort}}
                    {{month.labelShort}}
                  {{else}}
                    {{month.label}}
                  {{/if}}
                </span>
              </div>

            </div>
          {{/each}}
        </div>
      {{/if}}

      {{! calendar weeks }}
      {{#if timelineCW}}
        <div class="gantt-timeline-cws">
          {{#each timelineScale.calendarWeeks as |cw|}}
            <div class="cw" style={{cw.width}}>{{cw.nr}}</div>
          {{/each}}
        </div>
      {{/if}}

      {{! days in month }}
      {{#if timelineDay}}
        <div class="gantt-timeline-days">
          {{#each timelineScale.months as |month|}}
            {{#each month.days as |day|}}
              <div class="day {{if day.isWeekend 'day-weekend'}} {{if day.class day.class}}">{{day.nr}}</div>
            {{/each}}
          {{/each}}
        </div>
      {{/if}}



    </div>

  </div>
</div>
