
<style>
  .gantt-timeline-day {
    width: {{dayWidthPx}};
  }
</style>

Day width (px): {{input value=dayWidth}}

<br><br>

<div class="gantt-chart-inner">

  {{! header }}
  <div class="gantt-chart-header">
    <div class="gantt-line-title">Projekt/Job</div>
    <div class="gantt-line-timeline">
     {{#each timelineMonths as |month|}}
        <div class="gantt-timeline-month">
          <div class="gantt-timeline-month-name">
            <span>{{moment-format month.date 'MMMM YYYY'}}</span>
          </div>
          {{#each month.days as |day|}}
            <div class="gantt-timeline-day {{if day.isWeekend 'gantt-timeline-day-weekend'}}">{{day.nr}}</div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>

  {{! lines and sublines }}
  {{yield
    (hash
      line=(component "gantt-line" chart=this  )
    )
  }}

  {{! today line }}
  {{#if showToday}}
    <div class="gant-timeline-today" style={{todayStyle}}></div>
  {{/if}}

</div>

{{!--
	select=this
	register=(action 'registerOption')
	unregister=(action 'unregisterOption')
--}}